.elenco__content{
    height: 70vh;
    overflow-x: auto; 
    padding-bottom: 2em; 
    display: flex;
    align-items: center;
    padding: 2em;
    

    &::-webkit-scrollbar {
        height: 10px; /* Altura da barra de rolagem */
        cursor: pointer;
        
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 5px; 
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #313131; 
        cursor: pointer;
    }

    .elenco__carrossel{
        display: flex;
        gap: 2rem;
        

        @media screen and (max-width: 767px){
            gap: 0rem;
        }

        &__atores{
            @media screen and (max-width: 767px){
                padding-right: 2em;
            }
        }
        
        #Mia-Goth{
            content: url(../../pearl-images/Mia-Goth-PeB.png);

            &:hover{
                content: url(../../pearl-images/Mia-Goth.png);
            }
        }

        #Tandi-Wright{
            content: url(../../pearl-images/Tandi-Wright-PeB.png);

            &:hover{
                content: url(../../pearl-images/Tandi-Wright.png);
            }
        }

        #Emma-Jenkins-Purro{
            content: url(../../pearl-images/Emma-Jenkins-Purro-PeB.png);

            &:hover{
                content: url(../../pearl-images/Emma-Jenkins-Purro.png);
            }
        }

        #Theda{
            content: url(../../pearl-images/Theda-PeB.png);

            &:hover{
                content: url(../../pearl-images/Theda.png);
            }
        }

        #David-Corenswe{
            content: url(../../pearl-images/David-Corenswe-PeB.png);

            &:hover{
                content: url(../../pearl-images/David-Corenswe.png);
            }
        }

        #David-Corenswe{
            content: url(../../pearl-images/David-Corenswe-PeB.png);

            &:hover{
                content: url(../../pearl-images/David-Corenswe.png);
            }
        }

        #Matthew-Sunderland{
            content: url(../../pearl-images/Matthew-Sunderland-PeB.png);

            &:hover{
                content: url(../../pearl-images/Matthew-Sunderland.png);
            }
        }

        #Alistair-Sewell{
            content: url(../../pearl-images/Alistair-Sewell-PeB.png);

            &:hover{
                content: url(../../pearl-images/Alistair-Sewell.png);
            }
        }
    }
}