@font-face {
    font-family: PP Eiko BlackItalic;
    src: url(../../font/PPEiko-BlackItalic.otf);
    font-weight: 200;
}

@font-face {
    font-family: PP Eiko Heavy;
    src: url(../../font/PPEiko-Heavy.otf);
    font-weight: 400;
}

@font-face {
    font-family: PP Eiko LightItalic;
    src: url(../../font/PPEiko-LightItalic.otf);
}

@font-face {
    font-family: PP Eiko Medium;
    src: url(../../font/PPEiko-Medium.otf);
    font-weight: 400;
}


@font-face {
    font-family: PP Eiko Thin;
    src: url(../../font/PPEiko-Thin.otf);
    font-weight: 400;
}