.sinopse-trailer{
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 8em;
        padding-top: 6em;
    &__content{
        
        display: inline;
        .sinopse{
            padding: 2em;
            max-width: 600px;
            text-align: justify;
            padding-bottom: 4em;
        }
        
    }
}
.frame-yt{
    @media screen and (max-width: 767px){
        width: 100%;
        max-width: 900px; /* Limita a largura máxima em telas grandes */
        height: auto; /* Mantém a proporção automática */
    }
}


